workwiz.paymentframework/Workwiz.PaymentFramework.Shared/Service References/CapitaSimple/scpSimpleClient.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.capita-software-services.com/scp/simple" xmlns:sch0="http://www.capita-software-services.com/portal-api" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch1="https://support.capita-software.co.uk/selfservice/?commonFoundation" xmlns:sch3="http://www.capita-software-services.com/scp/base" xmlns:sch2="http://www.capita-software-services.com/scp/simple" targetNamespace="http://www.capita-software-services.com/scp/simple" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://www.capita-software-services.com/portal-api" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.capita-software-services.com/portal-api" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:annotation>
        <xs:documentation>Schema Version: 8.0.0.3</xs:documentation>
        <xs:documentation>Schema Description: Type definitions for use by Secure Bureau Service</xs:documentation>
      </xs:annotation>
      <xs:simpleType name="generalVeryShortString">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="10" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalShortString">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="35" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalString">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="50" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalIntermediateString">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="100" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalMediumString">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalLongString">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="2048" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalShortStringEmpty">
        <xs:restriction base="xs:string">
          <xs:minLength value="0" />
          <xs:maxLength value="35" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalStringEmpty">
        <xs:restriction base="xs:string">
          <xs:minLength value="0" />
          <xs:maxLength value="50" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalMediumStringEmpty">
        <xs:restriction base="xs:string">
          <xs:minLength value="0" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalLongStringEmpty">
        <xs:restriction base="xs:string">
          <xs:minLength value="0" />
          <xs:maxLength value="2048" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalAmount">
        <xs:annotation>
          <xs:documentation>Amount in minor currency units(pence/cents), leading sign</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int" />
      </xs:simpleType>
      <xs:simpleType name="generalAmountPositive">
        <xs:annotation>
          <xs:documentation>Amount in minor currency units(pence/cents)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:positiveInteger" />
      </xs:simpleType>
      <xs:simpleType name="generalAmountNonZero">
        <xs:annotation>
          <xs:documentation>Amount in minor currency units(pence/cents), leading sign, zero not allowed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
          <xs:pattern value="[\-+]?[0]*[1-9]\d*" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalInteger">
        <xs:restriction base="xs:int" />
      </xs:simpleType>
      <xs:simpleType name="generalShort">
        <xs:restriction base="xs:short">
          <xs:minInclusive value="1" />
          <xs:maxInclusive value="32767" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalDecimal">
        <xs:restriction base="xs:decimal">
          <xs:fractionDigits value="4" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalDecimalPositive">
        <xs:restriction base="sch0:generalDecimal">
          <xs:minExclusive value="0" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalDate">
        <xs:annotation>
          <xs:documentation>Use the xml date/time format eg 2003-09-26T15:32:00</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime" />
      </xs:simpleType>
      <xs:simpleType name="generalDateMMYY">
        <xs:annotation>
          <xs:documentation>Date format MMYY</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="(([1][0-2])|([0][1-9]))[0-9][0-9]" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalDateMMYYallow0000">
        <xs:annotation>
          <xs:documentation>Date format MMYY</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0][0][0][0]|((([1][0-2])|([0][1-9]))[0-9][0-9])" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalCode">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="5" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="generalBoolean">
        <xs:restriction base="xs:boolean" />
      </xs:simpleType>
      <xs:simpleType name="generalSequenceNumber">
        <xs:restriction base="xs:positiveInteger">
          <xs:totalDigits value="5" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="systemCode">
        <xs:annotation>
          <xs:documentation>ACP   - AXIS Common Payments</xs:documentation>
          <xs:documentation>ACR   - AXIS Counter Receipting</xs:documentation>
          <xs:documentation>ADD   - AXIS Direct Debits</xs:documentation>
          <xs:documentation>AIM   - AXIS Income Management</xs:documentation>
          <xs:documentation>AIP   - AXIS Internet Payments</xs:documentation>
          <xs:documentation>AOS   - AXIS On-line Services</xs:documentation>
          <xs:documentation>API   - AXIS Payments Interface</xs:documentation>
          <xs:documentation>APN   - AXIS PAYe.NET</xs:documentation>
          <xs:documentation>APP   - AXIS Payment Portal</xs:documentation>
          <xs:documentation>ARP   - AXIS Remittance</xs:documentation>
          <xs:documentation>ASR   - AXIS Speech Recognition</xs:documentation>
          <xs:documentation>ATP   - AXIS Telephone Payments</xs:documentation>
          <xs:documentation>ATT   - AXIS Touch Tone</xs:documentation>
          <xs:documentation>DIR   - Direct Authorisations from Third Parties</xs:documentation>
          <xs:documentation>EXT   - EXTERNAL SYSTEM</xs:documentation>
          <xs:documentation>HPAY  - AXIS Health PAYe.NET</xs:documentation>
          <xs:documentation>MAPN  - Managed AXIS PAYe.NET</xs:documentation>
          <xs:documentation>MHPAY - Managed AXIS Health PAYe.NET</xs:documentation>
          <xs:documentation>MOTO  - AXIS Mail Order Telephone Order</xs:documentation>
          <xs:documentation>PCR   - Perception</xs:documentation>
          <xs:documentation>SBS   - Secure Bureau Service</xs:documentation>
          <xs:documentation>SCM   - AXIS SafeCom</xs:documentation>
          <xs:documentation>SCP   - AXIS Stored Card Portal</xs:documentation>
          <xs:documentation>SGW   - AXIS Smart Gateway</xs:documentation>
          <xs:documentation>SMS   - AXIS Short Message Service</xs:documentation>
          <xs:documentation>THY   - Thyron</xs:documentation>
          <xs:documentation>TVWAP - AXIS DigiTV</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACP" />
          <xs:enumeration value="ACR" />
          <xs:enumeration value="ADD" />
          <xs:enumeration value="AIM" />
          <xs:enumeration value="AIP" />
          <xs:enumeration value="AOS" />
          <xs:enumeration value="API" />
          <xs:enumeration value="APN" />
          <xs:enumeration value="APP" />
          <xs:enumeration value="ARP" />
          <xs:enumeration value="ASR" />
          <xs:enumeration value="ATP" />
          <xs:enumeration value="ATT" />
          <xs:enumeration value="DIR" />
          <xs:enumeration value="EXT" />
          <xs:enumeration value="HPAY" />
          <xs:enumeration value="MAPN" />
          <xs:enumeration value="MHPAY" />
          <xs:enumeration value="MOTO" />
          <xs:enumeration value="PCR" />
          <xs:enumeration value="SCM" />
          <xs:enumeration value="SCP" />
          <xs:enumeration value="SGW" />
          <xs:enumeration value="SMS" />
          <xs:enumeration value="THY" />
          <xs:enumeration value="TVWAP" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="systemCodeDirect">
        <xs:annotation>
          <xs:documentation>DIR  - Direct Authorisations from Third Parties</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="DIR" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="siteID">
        <xs:restriction base="xs:unsignedShort">
          <xs:maxInclusive value="32767" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="uniqueTranID">
        <xs:restriction base="xs:string">
          <xs:minLength value="12" />
          <xs:maxLength value="12" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="isoCode">
        <xs:annotation>
          <xs:documentation>Three digit ISO code</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{3}" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="userName">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="25" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="sourceCode">
        <xs:restriction base="sch0:generalCode" />
      </xs:simpleType>
      <xs:simpleType name="languageCode">
        <xs:restriction base="xs:string">
          <xs:length value="2" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="linkCAN">
        <xs:restriction base="xs:positiveInteger" />
      </xs:simpleType>
      <xs:simpleType name="san">
        <xs:restriction base="xs:positiveInteger" />
      </xs:simpleType>
      <xs:simpleType name="recordSource">
        <xs:annotation>
          <xs:documentation>0 - Holding</xs:documentation>
          <xs:documentation>1 - History</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="0" />
          <xs:enumeration value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="track2Data">
        <xs:annotation>
          <xs:documentation>Mandatory if card swiped, otherwise should not be present</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="100" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="cardNumber">
        <xs:annotation>
          <xs:documentation>Mandatory on keyed and chip card transactions, should not be present for swiped</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="([0-9]{12,19})" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="issueNumber">
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]?[0-9]" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="keySwipe">
        <xs:annotation>
          <xs:documentation>0 - Signed voucher</xs:documentation>
          <xs:documentation>1 - Mail order/telephone order/CNP</xs:documentation>
          <xs:documentation>2 - Continuous authority</xs:documentation>
          <xs:documentation>3 - PIN verified (on-line)</xs:documentation>
          <xs:documentation>4 - PIN verified (off-line)</xs:documentation>
          <xs:documentation>5 - Signed voucher (swiped)</xs:documentation>
          <xs:documentation>6 - Signed voucher (keyed)</xs:documentation>
          <xs:documentation>7 - Unattended device without PIN</xs:documentation>
          <xs:documentation>8 - PIN verified transaction (recovered after sale)</xs:documentation>
          <xs:documentation>9 - Signed voucher (recovered after sale)</xs:documentation>
          <xs:documentation>G - Secure e-commerce transaction with cardholder certificate</xs:documentation>
          <xs:documentation>H - Non-authenticated security transaction with SET merchant certificate</xs:documentation>
          <xs:documentation>J - Non-authenticated security transaction without SET merchant certificate (e.g. SSL)</xs:documentation>
          <xs:documentation>K - Non-secure transaction</xs:documentation>
          <xs:documentation>R - Reversal (used in reversal file only)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="0" />
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
          <xs:enumeration value="4" />
          <xs:enumeration value="5" />
          <xs:enumeration value="6" />
          <xs:enumeration value="7" />
          <xs:enumeration value="8" />
          <xs:enumeration value="9" />
          <xs:enumeration value="G" />
          <xs:enumeration value="H" />
          <xs:enumeration value="J" />
          <xs:enumeration value="K" />
          <xs:enumeration value="R" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="cardType">
        <xs:annotation>
          <xs:documentation>Mandatory on card transactions</xs:documentation>
          <xs:documentation>D - Debit Card</xs:documentation>
          <xs:documentation>C - Credit Card</xs:documentation>
          <xs:documentation>N - No Auth</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:length value="1" />
          <xs:enumeration value="D" />
          <xs:enumeration value="C" />
          <xs:enumeration value="N" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="merchantNumber">
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="20" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="cardTranType">
        <xs:annotation>
          <xs:documentation>Mandatory on card transactions</xs:documentation>
          <xs:documentation>09 - Sale, keyed (cardholder not present(CNP), mail order/batch)</xs:documentation>
          <xs:documentation>10 - Sale, swiped or chip (cardholder present)</xs:documentation>
          <xs:documentation>20 - Sale, keyed (cardholder present / magstripe fallback only)</xs:documentation>
          <xs:documentation>B2 - Sale, e-commerce, keyed (CNP)</xs:documentation>
          <xs:documentation>Z1 - Sale, swiped, voice-authorization</xs:documentation>
          <xs:documentation>Z2 - Sale, keyed, voice-authorization</xs:documentation>
          <xs:documentation>Z9 - Sale, keyed, voice-authorization (CNP)</xs:documentation>
          <xs:documentation>47 - Refund, keyed (CNP, mail order/batch)</xs:documentation>
          <xs:documentation>58 - Refund, swiped or chip (cardholder present)</xs:documentation>
          <xs:documentation>61 - Refund, keyed (cardholder present / magstripe fallback only)</xs:documentation>
          <xs:documentation>B4 - Refund, e-commerce, keyed (CNP)</xs:documentation>
          <xs:documentation>25 - Sale reversal</xs:documentation>
          <xs:documentation>86 - Refund reversal</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="09" />
          <xs:enumeration value="10" />
          <xs:enumeration value="20" />
          <xs:enumeration value="B2" />
          <xs:enumeration value="Z1" />
          <xs:enumeration value="Z2" />
          <xs:enumeration value="Z9" />
          <xs:enumeration value="47" />
          <xs:enumeration value="58" />
          <xs:enumeration value="61" />
          <xs:enumeration value="B4" />
          <xs:enumeration value="25" />
          <xs:enumeration value="86" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="eCommerceTerminalType">
        <xs:annotation>
          <xs:documentation>For E-commerce transactions</xs:documentation>
          <xs:documentation>22 - Chip and Pin transaction</xs:documentation>
          <xs:documentation>25 - Unattended Chip and Pin transaction, controlled by merchant</xs:documentation>
          <xs:documentation>30 - Secure transaction with cardholder certificate</xs:documentation>
          <xs:documentation>31 - Non-authenticated security transaction with SET merchant certificate</xs:documentation>
          <xs:documentation>32 - Non-authenticated security transaction without SET merchant certificate(eg SSL)</xs:documentation>
          <xs:documentation>33 - No additional information (considered as unsecured)</xs:documentation>
          <xs:documentation>35 - Unattended Chip and Pin transaction, controlled by cardholder</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:length value="2" />
          <xs:enumeration value="22" />
          <xs:enumeration value="25" />
          <xs:enumeration value="30" />
          <xs:enumeration value="31" />
          <xs:enumeration value="32" />
          <xs:enumeration value="33" />
          <xs:enumeration value="35" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="cardSecurityCode">
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9][0-9][0-9]?[0-9]" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="houseNumber">
        <xs:restriction base="xs:string">
          <xs:maxLength value="10" />
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="postCode">
        <xs:restriction base="xs:string">
          <xs:maxLength value="10" />
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="securityAttempted">
        <xs:annotation>
          <xs:documentation>M - MasterCard Secure</xs:documentation>
          <xs:documentation>V - Verified By Visa</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="M" />
          <xs:enumeration value="V" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="securityResult">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Y" />
          <xs:enumeration value="A" />
          <xs:enumeration value="U" />
          <xs:enumeration value="N" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="eci">
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9][0-9]" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="surchargeType">
        <xs:annotation>
          <xs:documentation>F - Fixed Amount</xs:documentation>
          <xs:documentation>N - None</xs:documentation>
          <xs:documentation>P - Percentage</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:length value="1" />
          <xs:enumeration value="F" />
          <xs:enumeration value="N" />
          <xs:enumeration value="P" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="cardMnemonic">
        <xs:restriction base="xs:string">
          <xs:length value="4" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="cardDescription">
        <xs:restriction base="xs:string">
          <xs:enumeration value="VISA" />
          <xs:enumeration value="MASTERCARD" />
          <xs:enumeration value="AMERICAN EXPRESS" />
          <xs:enumeration value="LASER" />
          <xs:enumeration value="DINERS" />
          <xs:enumeration value="JCBC" />
          <xs:enumeration value="NONE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="statusCode">
        <xs:annotation>
          <xs:documentation>0 - Operation completed successfully</xs:documentation>
          <xs:documentation>Non-zero - Operation failed, more details available in description</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int" />
      </xs:simpleType>
      <xs:simpleType name="responseCode">
        <xs:annotation>
          <xs:documentation>Card Authorisation Response Codes:-</xs:documentation>
          <xs:documentation>From the underlying application. Some examples:</xs:documentation>
          <xs:documentation>00 - Transaction Authorized</xs:documentation>
          <xs:documentation>Non-zero - Transaction Not Authorized, some possible values are given below</xs:documentation>
          <xs:documentation>02 - Referral B</xs:documentation>
          <xs:documentation>05 - Declined</xs:documentation>
          <xs:documentation>30 - Bank validation failed, invalid merchant etc</xs:documentation>
          <xs:documentation>54 - Expired Card</xs:documentation>
          <xs:documentation>91 - Comms Fault</xs:documentation>
          <xs:documentation>92 - Manual Auth</xs:documentation>
          <xs:documentation>Validate Card Response Codes:-</xs:documentation>
          <xs:documentation>0 - Request processed successfully</xs:documentation>
          <xs:documentation>10 - Request failed schema validation exception</xs:documentation>
          <xs:documentation>20 - Request failed data access exception</xs:documentation>
          <xs:documentation>30 - Request failed validation exception</xs:documentation>
          <xs:documentation>90 - Request failed other error</xs:documentation>
          <xs:documentation>Stored Card Response Codes:-</xs:documentation>
          <xs:documentation>0 - Request processed successfully</xs:documentation>
          <xs:documentation>5 - Card not found</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9A-Z][0-9]?" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="maskedCardNumber">
        <xs:annotation>
          <xs:documentation>Card number with all but first six and last four digits masked with asterisks</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{6}\*+[0-9]{4}" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="responseAVVCVV">
        <xs:restriction base="xs:string">
          <xs:pattern value="\d{6}" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="surchargeRate">
        <xs:annotation>
          <xs:documentation>Percentage rate on which surcharge is based, not present for fixed rate surcharges</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal" />
      </xs:simpleType>
      <xs:simpleType name="cardLastFourDigits">
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9][0-9][0-9][0-9]" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="panEntryMethod">
        <xs:annotation>
          <xs:documentation>ECOM   - E-Commerce (Default)</xs:documentation>
          <xs:documentation>CNP    - Card Not Present</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ECOM" />
          <xs:enumeration value="CNP" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="portalAction">
        <xs:annotation>
          <xs:documentation>authorise (Default)</xs:documentation>
          <xs:documentation>storeOnly</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="authorise" />
          <xs:enumeration value="storeOnly" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="phone">
        <xs:restriction base="xs:string">
          <xs:pattern value="|\+[1-9][0-9]{8}[0-9]?[0-9]?[0-9]?[0-9]?[0-9]?[0-9]?" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="email">
        <xs:restriction base="xs:string">
          <xs:pattern value="|[A-Za-z0-9._%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,6}" />
          <xs:whiteSpace value="replace" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="integrator">
        <xs:restriction base="xs:positiveInteger" />
      </xs:simpleType>
      <xs:simpleType name="lineId">
        <xs:restriction base="xs:token">
          <xs:minLength value="1" />
          <xs:maxLength value="50" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="bacsReference">
        <xs:restriction base="xs:string">
          <xs:pattern value="[A-Za-z0-9.\-/&amp; ]{1,18}" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="bankSortCode">
        <xs:restriction base="xs:token">
          <xs:pattern value="[0-9]{6}" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="bankAccountNumber">
        <xs:restriction base="xs:token">
          <xs:pattern value="[0-9]{8}" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="httpUrl">
        <xs:restriction base="xs:token">
          <xs:pattern value="https?://.+" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:tns="https://support.capita-software.co.uk/selfservice/?commonFoundation" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://support.capita-software.co.uk/selfservice/?commonFoundation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:annotation>
        <xs:documentation>Schema Version: 7.4.2.0</xs:documentation>
        <xs:documentation>Schema Description: Type definitions for use by Common Foundation</xs:documentation>
      </xs:annotation>
      <xs:element name="credentials" type="tns:credentials" />
      <xs:complexType name="credentials">
        <xs:sequence>
          <xs:element name="subject" type="tns:subject" />
          <xs:element name="requestIdentification" type="tns:requestIdentification" />
          <xs:element name="signature" type="tns:signature" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="subject">
        <xs:sequence>
          <xs:element name="subjectType" type="tns:subjectType" />
          <xs:element name="identifier" type="xs:int" />
          <xs:element minOccurs="0" name="systemCode" nillable="true" type="tns:systemCode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestIdentification">
        <xs:sequence>
          <xs:element name="uniqueReference" type="xs:string" />
          <xs:element name="timeStamp" type="tns:timeStamp" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="signature">
        <xs:sequence>
          <xs:element name="algorithm" type="tns:algorithm" />
          <xs:element name="hmacKeyID" type="xs:int" />
          <xs:element name="digest" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="timeStamp">
        <xs:restriction base="xs:string">
          <xs:pattern value="(20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])([0-1]\d|2[0-3])([0-5]\d)([0-5]\d)" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="algorithm">
        <xs:annotation>
          <xs:documentation>Original</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Original" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="subjectType">
        <xs:annotation>
          <xs:documentation>Capita Site</xs:documentation>
          <xs:documentation>Integrator</xs:documentation>
          <xs:documentation>Other Security Entity</xs:documentation>
          <xs:documentation>Secure Bureau Service Site</xs:documentation>
          <xs:documentation>Capita Portal</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CapitaSite" />
          <xs:enumeration value="Integrator" />
          <xs:enumeration value="OtherSecurityEntity" />
          <xs:enumeration value="SecureBureauServiceSite" />
          <xs:enumeration value="CapitaPortal" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="systemCode">
        <xs:annotation>
          <xs:documentation>ACP   - AXIS Common Payments</xs:documentation>
          <xs:documentation>ACR   - AXIS Counter Receipting</xs:documentation>
          <xs:documentation>AIM   - AXIS Income Management</xs:documentation>
          <xs:documentation>AIP   - AXIS Internet Payments</xs:documentation>
          <xs:documentation>API   - AXIS Payments Interface</xs:documentation>
          <xs:documentation>APN   - AXIS PAYe.NET</xs:documentation>
          <xs:documentation>APP   - AXIS Payment Portal</xs:documentation>
          <xs:documentation>AOS   - AXIS On-line Services</xs:documentation>
          <xs:documentation>ASR   - AXIS Speech Recognition</xs:documentation>
          <xs:documentation>ATP   - AXIS Telephone Payments</xs:documentation>
          <xs:documentation>ATT   - AXIS Touch Tone</xs:documentation>
          <xs:documentation>DIR   - Direct Authorisations from Third Parties</xs:documentation>
          <xs:documentation>EXT   - EXTERNAL SYSTEM</xs:documentation>
          <xs:documentation>HPAY  - AXIS Health PAYe.NET</xs:documentation>
          <xs:documentation>MAPN  - Managed AXIS PAYe.NET</xs:documentation>
          <xs:documentation>MHPAY - Managed AXIS Health PAYe.NET</xs:documentation>
          <xs:documentation>MOTO  - AXIS Mail Order Telephone Order</xs:documentation>
          <xs:documentation>PCR   - Perception</xs:documentation>
          <xs:documentation>SBS   - Secure Bureau Service</xs:documentation>
          <xs:documentation>SCM   - AXIS SafeCom</xs:documentation>
          <xs:documentation>SCP   - Stored Card Portal</xs:documentation>
          <xs:documentation>SGW   - AXIS Smart Gateway</xs:documentation>
          <xs:documentation>SMS   - AXIS Short Message Service</xs:documentation>
          <xs:documentation>THY   - Thyron</xs:documentation>
          <xs:documentation>TVWAP - AXIS DigiTV</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACP" />
          <xs:enumeration value="ACR" />
          <xs:enumeration value="AIM" />
          <xs:enumeration value="AIP" />
          <xs:enumeration value="API" />
          <xs:enumeration value="APN" />
          <xs:enumeration value="APP" />
          <xs:enumeration value="AOS" />
          <xs:enumeration value="ASR" />
          <xs:enumeration value="ATP" />
          <xs:enumeration value="ATT" />
          <xs:enumeration value="DIR" />
          <xs:enumeration value="EXT" />
          <xs:enumeration value="HPAY" />
          <xs:enumeration value="MAPN" />
          <xs:enumeration value="MHPAY" />
          <xs:enumeration value="MOTO" />
          <xs:enumeration value="PCR" />
          <xs:enumeration value="SBS" />
          <xs:enumeration value="SCM" />
          <xs:enumeration value="SCP" />
          <xs:enumeration value="SGW" />
          <xs:enumeration value="SMS" />
          <xs:enumeration value="THY" />
          <xs:enumeration value="TVWAP" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns="http://www.capita-software-services.com/scp/simple" xmlns:scpbase="http://www.capita-software-services.com/scp/base" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.capita-software-services.com/scp/simple" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.capita-software-services.com/scp/base" />
      <xs:element name="scpSimpleInvokeRequest" type="sch2:scpSimpleInvokeRequest" />
      <xs:element name="scpSimpleInvokeResponse" type="scpbase:scpInvokeResponse" />
      <xs:element name="scpSimpleQueryRequest" type="scpbase:scpQueryRequest" />
      <xs:element name="scpSimpleQueryResponse" type="sch2:scpSimpleQueryResponse" />
      <xs:complexType name="scpSimpleInvokeRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="scpbase:scpInvokeRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="sale" type="sch2:simpleSale" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="simpleSale">
        <xs:complexContent mixed="false">
          <xs:extension base="scpbase:saleBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="postageAndPacking" type="scpbase:postageAndPacking" />
              <xs:element minOccurs="0" name="surchargeable" type="sch2:surchargeable" />
              <xs:element minOccurs="0" name="items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="sch2:simpleItem" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="surchargeable">
        <xs:sequence>
          <xs:choice>
            <xs:element name="applyScpConfig">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:restriction base="xs:anyType" />
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="surcharge" type="scpbase:surchargeItemDetails" />
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="simpleItem">
        <xs:complexContent mixed="false">
          <xs:extension base="scpbase:itemBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="surchargeable" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="scpSimpleQueryResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="scpbase:scpQueryResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="paymentResult" type="sch2:simplePaymentResult" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="simplePaymentResult">
        <xs:complexContent mixed="false">
          <xs:extension base="scpbase:paymentResultBase">
            <xs:choice minOccurs="0">
              <xs:element name="paymentDetails" type="sch2:simplePayment" />
              <xs:element name="errorDetails" type="scpbase:errorDetails" />
            </xs:choice>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="simplePayment">
        <xs:complexContent mixed="false">
          <xs:extension base="scpbase:paymentBase">
            <xs:sequence>
              <xs:element name="saleSummary" type="sch2:simpleSaleSummary" />
              <xs:element minOccurs="0" name="surchargeDetails" type="scpbase:surchargeDetails" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="simpleSaleSummary">
        <xs:sequence>
          <xs:element minOccurs="0" name="items">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="itemSummary" type="sch2:simpleItemSummary" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="simpleItemSummary">
        <xs:complexContent mixed="false">
          <xs:extension base="scpbase:itemSummaryBase" />
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://www.capita-software-services.com/scp/base" xmlns:cft="https://support.capita-software.co.uk/selfservice/?commonFoundation" xmlns:cpt="http://www.capita-software-services.com/portal-api" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.capita-software-services.com/scp/base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.capita-software-services.com/portal-api" />
      <xs:import namespace="https://support.capita-software.co.uk/selfservice/?commonFoundation" />
      <xs:element name="scpVersionRequest" type="sch3:scpVersionRequest" />
      <xs:element name="scpVersionResponse" type="sch3:scpVersionResponse" />
      <xs:complexType name="requestWithCredentials">
        <xs:sequence>
          <xs:element ref="cft:credentials" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="scpVersionRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="sch3:requestWithCredentials" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="scpVersionResponse">
        <xs:sequence>
          <xs:element name="version" type="xs:string" />
          <xs:element name="schemaVersion" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="scpInvokeRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="sch3:requestWithCredentials">
            <xs:sequence>
              <xs:element name="requestType" type="sch3:requestType" />
              <xs:element name="requestId" type="xs:token" />
              <xs:element name="routing" type="sch3:routing" />
              <xs:element name="panEntryMethod" type="cpt:panEntryMethod" />
              <xs:element minOccurs="0" name="additionalInstructions" type="sch3:additionalInstructions" />
              <xs:element minOccurs="0" name="billing" type="sch3:billingDetails" />
              <xs:element minOccurs="0" name="nonPaymentData" type="sch3:nonPaymentData" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="requestType">
        <xs:restriction base="xs:token">
          <xs:enumeration value="payOnly" />
          <xs:enumeration value="authoriseOnly" />
          <xs:enumeration value="authoriseAndStore" />
          <xs:enumeration value="authoriseAndAutoStore" />
          <xs:enumeration value="storeOnly" />
          <xs:enumeration value="payAndStore" />
          <xs:enumeration value="payAndAutoStore" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="routing">
        <xs:sequence>
          <xs:element name="returnUrl" type="sch3:returnUrl" />
          <xs:element minOccurs="0" name="backUrl" type="cpt:httpUrl" />
          <xs:element minOccurs="0" name="errorUrl" type="cpt:httpUrl" />
          <xs:element name="siteId" type="xs:int" />
          <xs:element name="scpId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="returnUrl">
        <xs:union memberTypes="cpt:httpUrl sch3:scpSpecialUrl" />
      </xs:simpleType>
      <xs:simpleType name="scpSpecialUrl">
        <xs:restriction base="xs:token">
          <xs:enumeration value="scp:close" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="additionalInstructions">
        <xs:all>
          <xs:element minOccurs="0" name="merchantCode" type="cpt:generalCode" />
          <xs:element minOccurs="0" name="countryCode" type="cpt:isoCode" />
          <xs:element minOccurs="0" name="currencyCode" type="cpt:isoCode" />
          <xs:element minOccurs="0" name="acceptedCards" type="sch3:acceptedCards" />
          <xs:element minOccurs="0" name="language" type="cpt:languageCode" />
          <xs:element minOccurs="0" name="stageIndicator" type="sch3:stageIndicator" />
          <xs:element minOccurs="0" name="responseInterface" type="sch3:responseInterface" />
          <xs:element minOccurs="0" name="cardholderID" type="cpt:generalString" />
          <xs:element minOccurs="0" name="integrator" type="xs:positiveInteger" />
          <xs:element minOccurs="0" name="styleCode" type="cpt:generalCode" />
          <xs:element minOccurs="0" name="frameworkCode" type="cpt:generalCode" />
          <xs:element minOccurs="0" name="systemCode" type="cpt:generalCode" />
          <xs:element minOccurs="0" name="walletRequest">
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:restriction base="xs:anyType" />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="recurringPayments" type="sch3:recurringPayments" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="recurringPayments">
        <xs:sequence>
          <xs:element minOccurs="0" name="paymentAuthorityType" type="sch3:paymentAuthorityType" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="paymentAuthorityType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="notArrangedPayment" />
          <xs:enumeration value="initialRecurringPayment" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="acceptedCards">
        <xs:sequence>
          <xs:element minOccurs="0" name="includes" type="sch3:acceptedCardList" />
          <xs:element minOccurs="0" name="excludes" type="sch3:acceptedCardList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="acceptedCardList">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="card" type="sch3:acceptedCardType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stageIndicator">
        <xs:sequence>
          <xs:element name="firstPortalStage" type="sch3:stageNumber" />
          <xs:element name="totalStages" type="sch3:stageNumber" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="stageNumber">
        <xs:restriction base="xs:byte">
          <xs:minInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="responseInterface">
        <xs:restriction base="xs:string">
          <xs:enumeration value="scpWebService" />
          <xs:enumeration value="commonPaymentsFormPost" />
          <xs:enumeration value="xmlFormPost" />
          <xs:enumeration value="htmlFormPost" />
          <xs:enumeration value="planningFormPost" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="billingDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="card" type="sch3:card" />
          <xs:element minOccurs="0" name="cardHolderDetails" type="sch3:cardHolderDetails" />
        </xs:sequence>
        <xs:attribute default="true" name="editable" type="xs:boolean" use="optional" />
      </xs:complexType>
      <xs:complexType name="card">
        <xs:sequence>
          <xs:choice>
            <xs:element name="cardDetails" type="sch3:cardDetails" />
            <xs:element name="storedCardKey" type="sch3:storedCardKey" />
          </xs:choice>
          <xs:element minOccurs="0" name="paymentGroupCode" type="cpt:generalCode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cardDetails">
        <xs:sequence>
          <xs:element name="cardNumber" type="cpt:cardNumber" />
          <xs:element name="expiryDate" type="cpt:generalDateMMYY" />
          <xs:element minOccurs="0" name="startDate" type="cpt:generalDateMMYY" />
          <xs:element minOccurs="0" name="issueNumber" type="cpt:issueNumber" />
          <xs:element minOccurs="0" name="cardSecurityCode" type="cpt:cardSecurityCode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="storedCardKey">
        <xs:sequence>
          <xs:element name="token" type="xs:string" />
          <xs:element name="lastFourDigits" type="cpt:cardLastFourDigits" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cardHolderDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardHolderName" type="cpt:generalString" />
          <xs:element minOccurs="0" name="address" type="sch3:address" />
          <xs:element minOccurs="0" name="contact" type="sch3:contact" />
          <xs:element minOccurs="0" name="isoCountryCode" type="sch3:isoCountryCode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="address">
        <xs:sequence>
          <xs:element minOccurs="0" name="address1" type="cpt:generalString" />
          <xs:element minOccurs="0" name="address2" type="cpt:generalString" />
          <xs:element minOccurs="0" name="address3" type="cpt:generalString" />
          <xs:element minOccurs="0" name="address4" type="cpt:generalString" />
          <xs:element minOccurs="0" name="county" type="cpt:generalString" />
          <xs:element minOccurs="0" name="country" type="cpt:generalString" />
          <xs:element minOccurs="0" name="postcode" type="cpt:postCode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contact">
        <xs:sequence>
          <xs:element minOccurs="0" name="telephone" type="cpt:phone" />
          <xs:element minOccurs="0" name="mobile" type="cpt:phone" />
          <xs:element minOccurs="0" name="email" type="cpt:email" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saleBase">
        <xs:sequence>
          <xs:element name="saleSummary" type="sch3:summaryData" />
          <xs:element minOccurs="0" name="deliveryDetails" type="sch3:contactDetails" />
          <xs:element minOccurs="0" name="lgSaleDetails" type="sch3:lgSaleDetails" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="summaryData">
        <xs:sequence>
          <xs:element name="description">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
                <xs:maxLength value="100" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="amountInMinorUnits" type="cpt:generalAmount" />
          <xs:element minOccurs="0" name="reference" type="cpt:generalString" />
          <xs:element minOccurs="0" name="displayableReference" type="cpt:generalString" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contactDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="sch3:threePartName" />
          <xs:element minOccurs="0" name="address" type="sch3:address" />
          <xs:element minOccurs="0" name="contact" type="sch3:contact" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="threePartName">
        <xs:sequence>
          <xs:element name="surname" type="cpt:generalString" />
          <xs:element minOccurs="0" name="title" type="cpt:generalString" />
          <xs:element minOccurs="0" name="forename" type="cpt:generalString" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nonPaymentData">
        <xs:choice>
          <xs:element name="mcc6012" type="sch3:mcc6012" />
        </xs:choice>
      </xs:complexType>
      <xs:complexType name="mcc6012">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateOfBirth" type="xs:date" />
          <xs:element minOccurs="0" name="surname" type="cpt:generalString" />
          <xs:element minOccurs="0" name="accountNumber" type="cpt:generalVeryShortString" />
          <xs:element minOccurs="0" name="postcode" type="cpt:postCode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="lgSaleDetails">
        <xs:all>
          <xs:element minOccurs="0" name="areaCode" type="cpt:generalCode" />
          <xs:element minOccurs="0" name="locationCode" type="cpt:generalCode" />
          <xs:element minOccurs="0" name="sourceCode" type="cpt:generalCode" />
          <xs:element minOccurs="0" name="userName" type="cpt:userName" />
          <xs:element minOccurs="0" name="userCode" type="cpt:generalCode" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="postageAndPacking">
        <xs:sequence>
          <xs:element name="pnpSummary" type="sch3:summaryData" />
          <xs:element minOccurs="0" name="tax" type="sch3:taxItem" />
          <xs:element minOccurs="0" name="lgPnpDetails" type="sch3:lgPnpDetails" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="taxItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="vat" type="sch3:vatItem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vatItem">
        <xs:complexContent mixed="false">
          <xs:extension base="sch3:vatBase">
            <xs:sequence>
              <xs:element name="vatAmountInMinorUnits" type="cpt:generalAmount" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="vatBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="vatCode" type="cpt:generalCode" />
          <xs:element name="vatRate" type="cpt:generalDecimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="lgPnpDetails">
        <xs:all>
          <xs:element minOccurs="0" name="fundCode" type="cpt:generalCode" />
          <xs:element minOccurs="0" name="pnpCode" type="cpt:generalCode" />
          <xs:element minOccurs="0" name="pnpOptionCode" type="cpt:generalCode" />
          <xs:element minOccurs="0" name="pnpOptionDescription" type="cpt:generalString" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="surchargeItemDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="fundCode" type="cpt:generalCode" />
          <xs:element minOccurs="0" name="reference" type="cpt:generalString" />
          <xs:element name="surchargeInfo" type="sch3:surchargeInfo" />
          <xs:element minOccurs="0" name="tax" type="sch3:taxSurcharge" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="surchargeInfo">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="cardSurchargeRate" type="sch3:cardSurchargeRate" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cardSurchargeRate">
        <xs:sequence>
          <xs:element minOccurs="0" name="surchargeCardType" type="sch3:acceptedCardType" />
          <xs:element name="surchargeBasis" type="sch3:surchargeBasis" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="acceptedCardType">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardDescription" type="cpt:cardDescription" />
          <xs:element minOccurs="0" name="cardType" type="sch3:cardType" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="cardType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CREDIT" />
          <xs:enumeration value="DEBIT" />
          <xs:enumeration value="NONE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="surchargeBasis">
        <xs:annotation>
          <xs:documentation>At least one of surchargeFixed and/or surchargeRate
				is required
			</xs:documentation>
        </xs:annotation>
        <xs:all>
          <xs:element minOccurs="0" name="surchargeFixed" type="cpt:generalAmountPositive" />
          <xs:element minOccurs="0" name="surchargeRate" type="cpt:generalDecimalPositive" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="taxSurcharge">
        <xs:sequence>
          <xs:element minOccurs="0" name="vat" type="sch3:vatSurcharge" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vatSurcharge">
        <xs:complexContent mixed="false">
          <xs:extension base="sch3:vatBase" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="itemBase">
        <xs:sequence>
          <xs:element name="itemSummary" type="sch3:summaryData" />
          <xs:element minOccurs="0" name="tax" type="sch3:taxItem" />
          <xs:element minOccurs="0" name="quantity" type="cpt:generalShort" />
          <xs:element minOccurs="0" name="notificationEmails" type="sch3:notificationEmails" />
          <xs:element minOccurs="0" name="lgItemDetails" type="sch3:lgItemDetails" />
          <xs:element minOccurs="0" name="customerInfo" type="sch3:customerInfo" />
          <xs:element name="lineId" type="cpt:lineId" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="notificationEmails">
        <xs:sequence>
          <xs:element maxOccurs="5" name="email" type="cpt:email" />
          <xs:element minOccurs="0" name="additionalEmailMessage" type="cpt:generalLongString" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="lgItemDetails">
        <xs:all>
          <xs:element minOccurs="0" name="fundCode" type="cpt:generalCode" />
          <xs:element minOccurs="0" name="isFundItem" type="xs:boolean" />
          <xs:element minOccurs="0" name="additionalReference" type="cpt:generalString" />
          <xs:element minOccurs="0" name="narrative" type="cpt:generalString" />
          <xs:element minOccurs="0" name="accountName" type="sch3:threePartName" />
          <xs:element minOccurs="0" name="accountAddress" type="sch3:address" />
          <xs:element minOccurs="0" name="contact" type="sch3:contact" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="customerInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerString1" type="cpt:generalString" />
          <xs:element minOccurs="0" name="customerString2" type="cpt:generalString" />
          <xs:element minOccurs="0" name="customerString3" type="cpt:generalString" />
          <xs:element minOccurs="0" name="customerString4" type="cpt:generalString" />
          <xs:element minOccurs="0" name="customerString5" type="cpt:generalString" />
          <xs:element minOccurs="0" name="customerNumber1" type="xs:int" />
          <xs:element minOccurs="0" name="customerNumber2" type="xs:int" />
          <xs:element minOccurs="0" name="customerNumber3" type="xs:int" />
          <xs:element minOccurs="0" name="customerNumber4" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bankDetails">
        <xs:complexContent mixed="false">
          <xs:extension base="sch3:bacsBankAccount">
            <xs:sequence>
              <xs:element minOccurs="0" name="bacsReference" type="cpt:bacsReference" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="bacsBankAccount">
        <xs:sequence>
          <xs:element name="sortCode" type="cpt:bankSortCode" />
          <xs:element name="bacsAccountNumber" type="cpt:bankAccountNumber" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="scpInvokeResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="sch3:scpResponse">
            <xs:sequence>
              <xs:element name="invokeResult">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="status" type="sch3:status" />
                    <xs:choice>
                      <xs:element name="redirectUrl" type="xs:token" />
                      <xs:element name="errorDetails" type="sch3:errorDetails" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="scpResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="requestId" type="xs:token" />
          <xs:element name="scpReference" type="xs:string" />
          <xs:element name="transactionState" type="sch3:transactionState" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="transactionState">
        <xs:restriction base="xs:string">
          <xs:enumeration value="IN_PROGRESS" />
          <xs:enumeration value="COMPLETE" />
          <xs:enumeration value="INVALID_REFERENCE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="status">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SUCCESS" />
          <xs:enumeration value="INVALID_REQUEST" />
          <xs:enumeration value="CARD_DETAILS_REJECTED" />
          <xs:enumeration value="CANCELLED" />
          <xs:enumeration value="LOGGED_OUT" />
          <xs:enumeration value="NOT_ATTEMPTED" />
          <xs:enumeration value="ERROR" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="errorDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorId" type="xs:string" />
          <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="scpQueryRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="sch3:requestWithCredentials">
            <xs:sequence>
              <xs:element name="siteId" type="xs:int" />
              <xs:element name="scpReference" type="xs:string" />
            </xs:sequence>
            <xs:attribute default="false" name="acceptNonCardResponseData" type="xs:boolean" use="optional" />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="scpQueryResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="sch3:scpResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="storeCardResult" type="sch3:storeCardResult" />
              <xs:element minOccurs="0" name="emailResult" type="sch3:emailResult" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="storeCardResult">
        <xs:sequence>
          <xs:element name="status" type="sch3:status" />
          <xs:choice minOccurs="0">
            <xs:element name="storedCardDetails" type="sch3:storedCardDetails" />
            <xs:element name="errorDetails" type="sch3:errorDetails" />
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="storedCardDetails">
        <xs:sequence>
          <xs:element name="storedCardKey" type="sch3:storedCardKey" />
          <xs:element name="cardDescription" type="cpt:cardDescription" />
          <xs:element name="cardType" type="sch3:cardType" />
          <xs:element minOccurs="0" name="expiryDate" type="cpt:generalDateMMYY" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="emailResult">
        <xs:sequence>
          <xs:element name="status" type="sch3:status" />
          <xs:element name="errorDetails" type="sch3:errorDetails" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentResultBase">
        <xs:sequence>
          <xs:element name="status" type="sch3:status" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentBase">
        <xs:sequence>
          <xs:element name="paymentHeader" type="sch3:paymentHeader" />
          <xs:choice>
            <xs:element name="authDetails" type="sch3:authDetails" />
            <xs:element name="nonCardPayment" type="sch3:nonCardPayment" />
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentHeader">
        <xs:sequence>
          <xs:element name="transactionDate" type="cpt:generalDate" />
          <xs:element name="machineCode" type="cpt:generalCode" />
          <xs:element name="uniqueTranId">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="12" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="authDetails">
        <xs:sequence>
          <xs:element name="authCode" type="cpt:generalString" />
          <xs:element name="amountInMinorUnits" type="cpt:generalAmount" />
          <xs:element name="maskedCardNumber" type="cpt:maskedCardNumber" />
          <xs:element name="cardDescription" type="cpt:cardDescription" />
          <xs:element name="cardType" type="sch3:cardType" />
          <xs:element name="merchantNumber" type="cpt:generalString" />
          <xs:element minOccurs="0" name="expiryDate" type="cpt:generalDateMMYY" />
          <xs:element minOccurs="0" name="continuousAuditNumber" type="cpt:generalSequenceNumber" />
          <xs:element minOccurs="0" name="isoCountryCode" type="sch3:isoCountryCode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nonCardPayment">
        <xs:sequence>
          <xs:element name="amountInMinorUnits" type="cpt:generalAmount" />
          <xs:element minOccurs="0" name="continuousAuditNumber" type="cpt:generalSequenceNumber" />
          <xs:element name="paymentType" type="cpt:generalString" />
          <xs:element name="paymentProviderReference" type="cpt:generalString" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="itemSummaryBase">
        <xs:sequence>
          <xs:element name="lineId" type="cpt:lineId" />
          <xs:element name="continuousAuditNumber" type="cpt:generalSequenceNumber" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="surchargeDetails">
        <xs:sequence>
          <xs:element name="fundCode" type="cpt:generalCode" />
          <xs:element name="reference" type="cpt:generalString" />
          <xs:element name="amountInMinorUnits" type="cpt:generalAmount" />
          <xs:element name="surchargeBasis" type="sch3:surchargeBasis" />
          <xs:element minOccurs="0" name="continuousAuditNumber" type="cpt:generalSequenceNumber" />
          <xs:element name="vatAmountInMinorUnits" type="cpt:generalAmount" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="isoCountryCode">
        <xs:restriction base="xs:string">
          <xs:minLength value="3" />
          <xs:maxLength value="4" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="scpSimpleInvokeRequest">
    <wsdl:part name="scpSimpleInvokeRequest" element="sch2:scpSimpleInvokeRequest" />
  </wsdl:message>
  <wsdl:message name="scpSimpleQueryResponse">
    <wsdl:part name="scpSimpleQueryResponse" element="sch2:scpSimpleQueryResponse" />
  </wsdl:message>
  <wsdl:message name="scpVersionResponse">
    <wsdl:part name="scpVersionResponse" element="sch3:scpVersionResponse" />
  </wsdl:message>
  <wsdl:message name="scpSimpleInvokeResponse">
    <wsdl:part name="scpSimpleInvokeResponse" element="sch2:scpSimpleInvokeResponse" />
  </wsdl:message>
  <wsdl:message name="scpVersionRequest">
    <wsdl:part name="scpVersionRequest" element="sch3:scpVersionRequest" />
  </wsdl:message>
  <wsdl:message name="scpSimpleQueryRequest">
    <wsdl:part name="scpSimpleQueryRequest" element="sch2:scpSimpleQueryRequest" />
  </wsdl:message>
  <wsdl:portType name="scp">
    <wsdl:operation name="scpSimpleInvoke">
      <wsdl:input name="scpSimpleInvokeRequest" message="sch2:scpSimpleInvokeRequest" />
      <wsdl:output name="scpSimpleInvokeResponse" message="sch2:scpSimpleInvokeResponse" />
    </wsdl:operation>
    <wsdl:operation name="scpSimpleQuery">
      <wsdl:input name="scpSimpleQueryRequest" message="sch2:scpSimpleQueryRequest" />
      <wsdl:output name="scpSimpleQueryResponse" message="sch2:scpSimpleQueryResponse" />
    </wsdl:operation>
    <wsdl:operation name="scpVersion">
      <wsdl:input name="scpVersionRequest" message="sch2:scpVersionRequest" />
      <wsdl:output name="scpVersionResponse" message="sch2:scpVersionResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="scpSoap11" type="sch2:scp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="scpSimpleInvoke">
      <soap:operation soapAction="" />
      <wsdl:input name="scpSimpleInvokeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="scpSimpleInvokeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="scpSimpleQuery">
      <soap:operation soapAction="" />
      <wsdl:input name="scpSimpleQueryRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="scpSimpleQueryResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="scpVersion">
      <soap:operation soapAction="" />
      <wsdl:input name="scpVersionRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="scpVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="scpService">
    <wsdl:port name="scpSoap11" binding="sch2:scpSoap11">
      <soap:address location="https://sbsctest.e-paycapita.com:443/scp/scpws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>